:root {
  --white-text-color: #ffffff;
  --title-color: #212121;
  --main-text-color: #757575;
  --hover-color: #2196f3;
  --bg-btn-color: #2196f3;
  --btn-hover-color: #188ce8;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}

/* Сброс точек в списках */
.list {
  list-style: none;
}
/* Сброс подчёркиваний ссылок */
.link {
  text-decoration: none;
}

/* Синяя часть логотипа в хедере */
.blue-logo-part {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--hover-color);
}
/* Тёмная часть доготипа в хедере */
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
/*  */
.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
/* Ссылка лого в хедере */
.header-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
/* Ховер и фокус лого в хедере */
.header-link:hover,
/* .header-link:active, */
.header-link:focus {
  color: var(--hover-color);
}

.header-list .link.current {
  color: var(--btn-hover-color);
}
/* Ховер и фокус ссылки на электронную почту в хедере */
.header-mail-link:hover,
.header-mail-link:focus {
  color: var(--hover-color);
}
/* Ховер и фокус ссылки на телефон в хедере */
.header-tel-link:hover,
.header-tel-link:focus {
  color: var(--hover-color);
}
/* Ссылка на электронную почту в хедере */
.header-mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
/* Ссылка на телефон в хедере */
.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
/* Заголовок Героя */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  background-color: rgb(204, 199, 199);
}
/* Кнопка: универсальные параметры */
.btn {
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}

/* Кнопка Героя */
.hero-button {
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--bg-btn-color);
}
/* Универсальные ховер и фокус кнопок */
.hero-button:hover,
.hero-button:focus {
  background-color: var(--btn-hover-color);
}
/* Заголовок преимуществ */
.benefit-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
/* Текст преимуществ */
.benefit-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/* Заголовок примеров работ */
.works-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
/* Заголовок сотрудников */
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
/* Имена сотрудников */
.employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
/* Должности сотрудников */
.employee-position {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* footer */
.footer {
  background-color: rgb(204, 199, 199);
}

/* Ссылка на адрес на карте в футере */
.address-contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/* Ховер и фокус ссылки на адрес на карте в футере */
.address-contacts:hover,
.address-contacts:focus {
  color: var(--hover-color);
}

.map-link {
  color: var(--white-text-color);
}

/* ---------Страница Портфолио---------- */

.filter-btn {
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--btn-hover-color);
  color: var(--white-text-color);
}
/* Заголовок под каждым из проектов в портфолио */
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
/* Основной текст под каждым из проектов в портфолио */
.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
